/* Multipage styling */
#loadingPage {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
  background-image: url(./images/chris-murray-SQL6cO9D9lU-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#quizPages {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
  background-image: url(./images/billy-freeman-DequZoeAtug-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

#scoresPage {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
  background-image: url(./images/yunfan-xu-YpTXAjxKMvg-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Loading page styling */
.title {
  display: flex;
  justify-content: center;
  margin: 40px 40px;
  font-size: 7.5em;
  font-weight: 600;
  color: white;
  text-shadow: 3px 3px 9px black;
}

.sub {
  display: flex;
  justify-content: center;
  font-size: 2em;
  color: white;
  text-shadow: 3px 3px 9px black;
}

.nav {
  display: flex;
  font-size: 2em;
  border-radius: 25px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.85);
  max-width: 300px;
  padding: 20px;
  margin: 100px auto 45px auto;
  box-shadow: 3px 3px 9px black;
}

.rulesList {
  display: flex;
  justify-content: center;
  font-size: 2em;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 25px;
  width: 75%;
  max-width: 1000px;
  box-shadow: 3px 3px 9px black;
}

.rulesList ol {
  padding-left: 100px;
}

.rulesList ol li {
  padding: 2% 5%;
}

.startButton {
  display: flex;
  font-size: 2em;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.85);
  border-width: 1px;
  border-radius: 25px;
  max-width: 400px;
  padding: 20px;
  margin: 100px auto 45px auto;
  box-shadow: 3px 3px 9px black;
}

/* Quiz pages styling */
.quizTimer {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 250, 205, 0.65);
  width: 35%;
  margin: 30px auto 0px auto;
  padding: 11px;
  color: black;
  font-size: 2em;
  font-weight: 750;
  box-shadow: 3px 3px 9px black;

}

.questionBox {
  display: flex;
  /* justify-content: center; */
  background-color: rgba(255, 255, 255, 0.85);
  width: 85%;
  max-width: 1000px;
  margin: 35px auto 0px auto;
  height: 200px;
  border-radius: 25px;
  box-shadow: 3px 3px 9px black;
}

.questionCount {
  align-self: flex-start;
  justify-self: flex-start;
  position: absolute;
  color: black;
  margin: 10px 0px 0px 10px;
}

.question {
  margin: auto;
  justify-self: center;
  align-self: center;
  padding: 45px;
  color: black;
  font-size: 2.5em;
}

.answersArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.answerTabs {
  display: flex;
  margin: auto;
  max-width: 900px;
}

.answerTabs ul {
  display: flex;.
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 900px;
  padding: 0%;
}

.answerTabs ul li {
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 20px;
  margin: 20px;
  width: 360px;
  height: 100px;
  border-radius: 25px;
  box-shadow: 3px 3px 9px black;
}

/* Scoreboard pages styling */
.finalCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
  margin: 100px auto 0px auto;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 25px;
  width: 75%;
  max-width: 1000px;
  box-shadow: 3px 3px 9px black;
}

.finalCard h1 {
  font-size: 6em;
  margin: 50px 0px 0px 0px;
  text-shadow: 2px 2px 4px black;

}

.finalCard h2 {
  font-size: 2em;
  margin: 0px 0px 10px 350px;
  opacity: 10%;
}

.finalCard div {
  display: flex;
}

.scoreNav {
  display: flex;
  font-size: 1.75em;
  border-radius: 25px;
  justify-content: center;
}

.scoreNav ul {
  display: flex;
}

.scoreNav ul li {
  display: flex;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 14px;
  border-radius: 15px;
  margin: 10px 20px;
  box-shadow: 3px 3px 9px black;
}

.scoreIs {
  display: flex;
  font-size: 3em;
  padding: 8% 2%;
}

.numAnswered {
  display: flex;
  font-size: 3em;
  padding: 8% 2%;
}

.timeRemain {
  display: flex;
  font-size: 3em;
  padding: 8% 0% 16% 0%;
}

.scoreBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
  margin: 100px auto 45px auto;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 25px;
  width: 75%;
  max-width: 1000px;
  box-shadow: 3px 3px 9px black;
}

.scoreBoard h1 {
  font-size: 6em;
  margin: 50px 0px 50px 0px;
  text-shadow: 2px 2px 4px black;
}

.highscore {
  display: flex;
  justify-content: center;
  font-size: 2em;
  text-shadow: 2px 2px 4px black;
}

.scoreBoard h2 {
  margin: 0 20%;
  margin-bottom: 20px;
}

.identifiers {
  display: flex;
}

.scoreBoard ul {
  padding: 0px 0px 30px 0px;
}

.scoreBoard ul li {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  padding: 5px 130px 5px 130px;
}

.resetQuiz {
  display: flex;
  font-size: 1.75em;
  border-radius: 25px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 14px;
  border-radius: 15px;
  margin: 0 auto 100px auto;
  box-shadow: 3px 3px 9px black;
  width: 400px;
}